@import "variables";

#chessTable {
    border-spacing: 0;
    border: 1px solid $dark;
    width: $board-size;
    height: $board-size;
}
.chess-black {
    background-color: $dark;
}   
.chess-white {
    background-color: $light;
}
.chess-square {
    width: $square-size;
    height: $square-size;
    text-align: center;
    padding: 0;
    
    &.active {
        background-color: $active;
    }
}
    
.chess-piece {
    font-family: 'Arial Unicode MS','Segoe UI', Tahoma, Geneva, Verdana, sans-serif; // Some nicer chess pieces in Arial Unicode
    color: black;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 4em;
}

#nextMove {
    height: 2em;
    width: 2em;
    border: 1px solid black;  
}

ol#moves {
    width: $board-size;
    list-style-type: none;
    counter-reset: chess-moves-counter; 
    padding-left: 0;
    margin-top: 1em;
    li {
        float: left; 
        margin-right: 1em;
        &::before {
            content: counter(chess-moves-counter, decimal)'.';
            counter-increment: chess-moves-counter;
            font-weight: bold;
            padding-right: 0.5em;
        }
    }
}

#status {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1em;
}